body {
    margin: 0 3%;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    border: 3px solid black;
    margin: 10px auto;
    padding: 10px;
    background-image: url(shutterstock_402724045.jpg);
    background-size: cover;
}

h2 {
    font-size: 2em;
    background-color: khaki;
    width: fit-content;
    padding: .4% 2%;
    border: 3px solid cyan;
}

.color-container {
    width: 100%;
    text-align: center;
}

.color-panel {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px .3%;
}

.color-label {
    font-weight: 700;
    font-size: 1.8em;
    

}

.color-hex {
    font-size: 1.5em;
    font-weight: 700;
   
}

.cyan {
    background-color: cyan;
    color: khaki;
    border: 5px solid black;
}

.black {
    background-color: black;
    color: cyan;
    border: 5px solid khaki;
}

.khaki {
    background-color: khaki;
    color:  black;
    border: 5px solid cyan;
<<<<<<< HEAD
}

.font-container {
    text-align: center;
    width: 100%;
}

.font-panel {
    display: inline-block;
    width: 45%;
    background-color: khaki;
    height: 240px;
    vertical-align: top;
    margin: 20px .3%;
}

.font-label {
    font-size: 30px;
    text-decoration: underline;
}

.teko {
    font-family: 'teko';
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

p {
    font-size: 20px;
}

.text-panel {
    background-color: khaki;
    width: 55%;
}

.main-page-heading {
    font-family: 'teko';
    font-weight: 700;
    font-size: 65px;
    padding: 5 20px;
}

.subheading {
    border: none;
    font-family: teko;
    font-weight: 700;
    font-size: 1.5em;
    padding: 5 20px;
}

.paragraph-text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1em;
    padding: 5 20px;
}